<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('pcsHeader.ejs') %>
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="parent">
      <div class="mainTitle">
        <h1>Statistics</h1>
      </div>
      <div class="subTitle">
        <% const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];%>
        <% const d = new Date(); %>
        <p><%= monthNames[d.getMonth()] %></p>
      </div>


      <div class="Statistics">
        <div class="statisticsLeftSection">
          <div class="firstBoxBigText">
            <p class="BigText"><%=numPetsTakenCare%></p>
          </div>
          <div class="firstBoxSmallText">
            <p><b>Number of Pets Taken Care</b></p>
          </div>
        </div>

        <div class="statisticsMiddleSection">
          <div class="secondBoxText">
            <p class="SmallText"><%=underperforming_ct%></p>
          </div>
          <div class="secondBoxSmallText">
            <p><b>Underperforming Care Takers</b></p>
          </div>
        </div>

        <div class="statisticsRightSection">
          <div class="thirdBoxBigText">
            <% if (typeof monthHighestJob[0] != 'undefined') { %>
              <p class="BigText"><%= monthHighestJob[0].s_month.toString().substring(4, 7) + " " + monthHighestJob[0].s_month.toString().substring(11, 15)%></p>
            <% } else { %>
              <p class="BigText">NIL</p>
            <% } %>
          </div>
          <div class="thirdBoxSmallText">
            <p><b>Month with Highest Number of Jobs</b></p>
          </div>
        </div>
      </div>

      <div class="UnderperformingBoxLabel">
        <h3>Underperforming Care Takers</h3>
      </div>


      <div class="underperformingBox">
        <div class="UnderperformingTable">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Username</th>
                <th>Number of Jobs</th>
                <th>Average Rating</th>
              </tr>
              <% if (typeof ct_list != 'undefined') { %>
                <% for (var i = 0; i < ct_list.length; i++) { %>
                  <tr>
                    <td><%= ct_list[i].ct_username %></td>
                    <td><%= ct_list[i].num_jobs %></td>
                    <td class="noborderright"><%= ct_list[i].avg_rating %></td>
                  </tr>
                <% } %>
              <% } else { %>
                <tr>
                  <td>NIL</td>
                  <td>NIL</td>
                  <td class="noborderright">NIL</td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="filler">

      </div>
      <div class="filler">

      </div>      
    </div>
</body>

</html>
