<!DOCTYPE html>
<html lang="en" dir="ltr">
<% if (typeof user != 'undefined') { %>
  <%- include('headerSignedIn.ejs') %>
<% } else { %>
  <%- include('headerSignedOut.ejs') %>
<% } %>
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<head>
  <meta charset="utf-8">
  <title></title>
</head>


<body>
  <div class="parent">

      <div class="mainTitle">
        <h1>Search for a Sitter</h1>
      </div>

      <div class="searchSitterBox">
        <form action="/searchSitter" method="POST">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="servicesDesired">Pet Services Desired</label>
              <select id="servicesDesired" name="servicesDesired" class="form-control" required>
                <option selected>Choose</option>
                <option id="servicesDesired" name="servicesDesired" value="Pet Grooming">Pet Grooming</option>
                <option id="servicesDesired" name="servicesDesired" value="Full Day Pet Care">Full Day Pet Care</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="petsChosen"><b>Pets that I want to send *</b></label>
              <% if (typeof ownedPets != 'undefined') { %>
                <% for(var i=0; i<ownedPets.length; i++) { %>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="petsChosen" name="petsChosen" value="<%= ownedPets[i].name %>">
                  <label class="form-check-label" for="petsChosen">
                    <%= ownedPets[i].name %>
                  </label>
                </div>
                <% } %>
              <% } %>
            </div>
            <div class="form-group col-md-6">
              <label for="careTakerChosen"><b>Caretaker Desired (Name)</b></label>
              <select id="careTakerChosen" name="careTakerChosen" class="form-control">
                <option name="careTakerChosen">Choose</option>
                <% if (typeof careTakers != 'undefined') { %>
                  <% for(var i=0; i<careTakers.length; i++) { %>
                  <option name="careTakerChosen" value="<%=careTakers[i].username%>"><%= careTakers[i].name %></option>
                  <% } %>
                <% } %>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="SpecialReq"><b>Pet(s) Special Requirements</b></label>
              <input type="text" class="form-control" id="SpecialReq" name="SpecialReq" placeholder="Key them in here!">
            </div>
            <div class="form-group col-md-6">
              <label for="startDate"><b>When would you like the service to begin? *</b></label>
              <input type="date" class="form-control" id="startDate" name="startDate" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group col-md-6">
              <label for="endDate"><b>When would you like the service to end? *</b></label>
              <input type="date" class="form-control" id="endDate" name="endDate" aria-describedby="emailHelp" required>
            </div>
          </div>
          <button type="submit" class="searchSitter" name="button">
            Search!
          </button>
        </form>
      </div>
      <div class="noPetsErrorBox">
        <% if(message.length > 0) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%= message %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      <% } %>
    </div>
    </div>
</body>

</html>
