
<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('headerSignedIn.ejs') %>
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<head>
  <meta charset="utf-8">
  <title></title>
</head>


<body>
  <div class="parent">
      <div class="mainTitle">
        <h1>Search Results</h1>
        </div>
      </div>
      <div class="noResults">
        <% if (caretaker.length == 0 || careTakerChosen.length == 0) { %>
          <h3>No results found!</h3>
        <% } %>

      <div class="searchResultBox">
        <% for (var i = 0; i < sitterResults.length; i++) { %>
          <div class="resultLeftBox">
            <% if (typeof caretaker != 'undefined') { %>
              <h3>Name: <%= caretaker[i][0].name%></h3>
            <% } else { %>
              <h3>Name: <%= careTakerChosen[0].name %></h3>
            <% } %>
            <h5>Username: <%= sitterResults[i].care_taker_username%></h3>
            <% if (typeof caretaker != 'undefined') { %>
              <p>Area: <%= caretaker[i][0].area%></p>
            <% } else { %>
              <p>Area: <%= careTakerChosen[0].area%></p>
            <% } %>
            <br>
            <h5>Pet Transfer Preference</h5>
            <% if (typeof caretaker != 'undefined') { %>
              <p><%= caretaker[i][0].trf_mthd%></p>
            <% } else { %>
              <p><%= careTakerChosen[0].trf_mthd%></p>
            <% } %>
          </div>
          <div class="resultRightBox">
            <h5>Ratings:</h5>
            <div class="ratingStars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <form action="/searchSitterResults" method="POST">
              <input id="caretakerUsername" name="caretakerUsername" value="<%= sitterResults[i].care_taker_username%>" type="hidden"/>
              <button type="submit" class="visitProfile" name="button">
                <!-- REMEMBER TO EDIT THIS LINK ACCORDING TO USERNAME WITH EJS -->
                View Profile
              </button>
            </form>
          </div>
        <% } %>
      </div>
      <div class="filler">

      </div>

    </div>
</body>

</html>
